.link-reset {
    font-size: 18px;
    color: rgb(9, 41, 200);
}

.link-reset:hover {
    border: none;
    color: rgb(72, 101, 235);
}

.menu-lateral .link-menu-left {
    list-style-type: none;
    text-align: justify;
    position: relative;
}